{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Messages demo</title>
        <meta name="description" content="HTMX django messages demo">
        <meta name="keywords" content="htmx django">
        <link rel="stylesheet" href="{% static 'index.css' %}">
        <script src="https://unpkg.com/htmx.org@1.9.10"
                integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
                crossorigin="anonymous"></script>
        <script defer
                src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>
    <body>
        {% include "_messages.html" %}
        <main>
            {% include "_send_button.html" %}
        </main>
    </body>
</html>
